<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Hola</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="~/hola-master/css/base.css" />
    <link rel="stylesheet" href="~/hola-master/css/vendor.css" />
    <link rel="stylesheet" href="~/hola-master/css/main.css" />

    <!-- JS (Head) -->
    <script src="~/hola-master/js/modernizr.js"></script>
    <script src="~/hola-master/js/pace.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
</head>

<body id="top">

    <!-- HEADER -->
    @await Component.InvokeAsync("Head")

    <!-- CONTENT -->
    @RenderBody()

    <!-- FOOTER -->
    <footer>
        <div class="row">
            <div class="col-full"> 
                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0">
                        <img src="~/images/logo.png" alt="Homepage" />
                    </a>
                </div>

                <ul class="footer-social">
                    <li><a href="#0"><i class="im im-facebook"></i><span>Facebook</span></a></li>
                    <li><a href="#0"><i class="im im-twitter"></i><span>Twitter</span></a></li>
                    <li><a href="#0"><i class="im im-instagram"></i><span>Instagram</span></a></li>
                    <li><a href="#0"><i class="im im-behance"></i><span>Behance</span></a></li>
                    <li><a href="#0"><i class="im im-pinterest"></i><span>Pinterest</span></a></li>
                </ul>

            </div>
        </div>

        <div class="row footer-bottom">
            <div class="col-twelve">
                <div class="copyright">
                    <span>© Hola 2017</span>
                    <span>Design by <a href="https://www.styleshout.com/">Styleshout</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" href="#top">
                        <i class="im im-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- PHOTOSWIPE BACKGROUND -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close"></button>
                    <button class="pswp__button pswp__button--share"></button>
                    <button class="pswp__button pswp__button--fs"></button>
                    <button class="pswp__button pswp__button--zoom"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="pswp__button pswp__button--arrow--left"></button>
                <button class="pswp__button pswp__button--arrow--right"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="preloader"><div id="loader"></div></div>

    <!-- JS FILES -->
    <script src="~/hola-master/js/jquery-3.2.1.min.js"></script>
    <script src="~/hola-master/js/plugins.js"></script>
    <script src="~/hola-master/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
